@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
background-image: url("..\Assets\background.png");
font-family: 'Open Sans', sans-serif;
}

#back {
margin-top: 1em;
margin-left: 1em;
}

#back a {
text-decoration: none;
color: #08a;
font-weight: 400;
}

#back span {
margin-right: 3px;
transition: all 0.1s;
}

#back span:hover {
margin-right: 10px;
}